.caraousel-container .container{
    width: 50rem;
    
}
.caraousel-container .container:hover{
  opacity: 85%;
}
@media(max-width: 768px) {
    .caraousel-container .container{
      width: 100%;
    }
    .caraousel-container .carousel-control-prev{
      display: none;
    }
    .caraousel-container .carousel-control-next{
      display: none;
    }
}
